<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Document Upload</title>
</head>

<body>
    <form action="upload" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Id:</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td>Document:</td>
                <td><input type="file" name="document" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>
    <br />
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>link</th>
        </tr>
        <tr th:each="document:${documents}">
            <td th:text="${document.id}" />
            <td th:text="${document.name}" />
            <td>
                 <a th:href="@{/download(id=${document.id})}">download</a>
            </td>
        </tr>
    </table>
</body>

</html>