<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="com/bharath/spring/springcore/propertyplaceholder/database.properties" />

	<bean
		class="com.bharath.spring.springcore.propertyplaceholder.MyDAO"
		name="myDAO">
		<constructor-arg index="0" value="${dbServer}" />
		<constructor-arg index="1" value="${dbPort}" />
		<constructor-arg index="2" value="${dbUsername}" />
		<constructor-arg index="3" value="${dbPassword}" />
	</bean>


</beans>